/************************TAG SELECTORS************************/
/* use the tag, no prefixes required */
body {
  font-family: 'Titillium Web', sans-serif;
  padding-top: 9rem;
}

h1 {
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

input [type=radio] {
    width: 1.5rem;
    height: 1.5rem;
}

label {
  font-size: 2rem;
}

textarea {
  height: 100%;
  width: 100%;
}


/************************CLASS SELECTORS************************/
/* use the class name, prefixed with . */

.bg-gold {
  background-color: #b58d2d;
}

.bg-red {
  background-color: #f13728;
}

.btn {
  width: 100%;
}

.bullet-icon {
  height: 2rem;
}

.hover-red:hover {
  background-color: #f13728;
}

.index-img {
  max-width: 100%;
  height: auto;
}

.lbl-header {
  font-size: 1.5rem;
  color: #cfcfcf;
}

.nav-img {
  height: 8rem;
}

.nav-item {
  padding: 0 18px;
}






/************************ID SELECTORS************************/
/* use the id name, prefixed with # */
